# https://linux-audit.com/audit-and-harden-your-ssh-configuration/

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile .ssh/authorized_keys

# Ignore rhosts
IgnoreRhosts yes

UseDNS yes

# Disable password ssh access
PasswordAuthentication no

# Enable public key authentication
PubkeyAuthentication yes

# Disable root login via ssh
PermitRootLogin no

# Remap the HostKey locations to allow easier volume mounting
HostKey /etc/ssh/keys/ssh_host_ecdsa_key
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key